#include <behaviors.dtsi>
#include <behaviors/default_layer.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk_behavior_default_layer/default_layer.h>
#include "gesture/gesture_L7.dtsi"
#include "gesture/gesture_L7_mac.dtsi"
#include "gesture/gesture_L8.dtsi"
#include "gesture/gesture_L8_mac.dtsi"
#include "gesture/gesture_L9.dtsi"
#include "gesture/gesture_L9_mac.dtsi"
#include "gesture/gesture_app_switch.dtsi"

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 5

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&lt {
    quick-tap-ms = <200>;
    flavor = "balanced";
};

/ {
    combos {
        compatible = "zmk,combos";

        Gesture_L8_mac {
            bindings = <&app_sw_mac>;
            key-positions = <8 9>;
            layers = <10>;
        };

        Gesture_L8 {
            bindings = <&app_sw_win>;
            key-positions = <8 9>;
            layers = <0>;
        };

        // W+E: 仮想デスクトップジェスチャー
        // トラックボール ←/→ = 前/次のデスクトップ、↑ = タスクビュー/Mission Control
        Gesture_VDesk_win {
            bindings = <&mo 8>;
            key-positions = <1 2>;
            layers = <0>;
        };

        Gesture_VDesk_mac {
            bindings = <&mo 13>;
            key-positions = <1 2>;
            layers = <10>;
        };

        Gesture_L9_mac {
            bindings = <&lt 14 LGUI>;
            key-positions = <19 20>;
            layers = <10>;
        };

        Gesture_L9 {
            bindings = <&lt 9 LEFT_WIN>;
            key-positions = <19 20>;
            layers = <0>;
        };

        BT_layer {
            bindings = <&mo 4>;
            key-positions = <38 39>;
            layers = <0 10>;
        };

        Scroll_toggle {
            bindings = <&tog 6>;
            key-positions = <30 31>;
            layers = <0 10>;
        };

        Delete {
            bindings = <&kp DEL>;
            key-positions = <36 39>;
            layers = <0 10>;
        };

        Select_All_mac {
            bindings = <&kp LG(A)>;
            key-positions = <0 10>;
            layers = <10>;
        };

        Aqua_Voice {
            bindings = <&aqua_voice>;
            key-positions = <37 39>;
            layers = <10>;
        };

        Select_All_win {
            bindings = <&kp LC(A)>;
            key-positions = <0 10>;
            layers = <0>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        to_layer_10: to_layer_10 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 10 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_10";
        };

        app_sw_win: app_sw_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT &mo 15>
                , <&macro_pause_for_release>
                , <&macro_release &kp LALT &mo 15>;
            label = "APP_SW_WIN";
        };

        aqua_voice: aqua_voice {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp RGUI>
                , <&macro_pause_for_release>
                , <&macro_release &kp RGUI>;
            label = "AQUA_VOICE";
        };

        app_sw_mac: app_sw_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI &mo 15>
                , <&macro_pause_for_release>
                , <&macro_release &kp LGUI &mo 15>;
            label = "APP_SW_MAC";
        };

        win_mode: win_mode {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_release &kp LALT &kp LGUI>
                     , <&to 0>
                     , <&df DF_SEL 0>;
            label = "WIN_MODE";
        };

        mac_mode: mac_mode {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_release &kp LALT &kp LGUI>
                     , <&to 10>
                     , <&df DF_SEL 10>;
            label = "MAC_MODE";
        };

        exit_AML: exit_AML {
            compatible = "zmk,behavior-macro";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings = <&tog_off MOUSE>;
            label = "exit_AML";
        };

        kp_exit_AML: kp_exit_AML {
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER &exit_AML>;
            label = "KP_exit_AML";
        };

        ctrl_scroll_up: ctrl_scroll_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&macro_press &kp LCTRL>
                     , <&msc SCRL_UP>
                     , <&macro_release &kp LCTRL>;
            label = "CTRL_SCROLL_UP";
        };

        ctrl_scroll_down: ctrl_scroll_down {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings = <&macro_press &kp LCTRL>
                     , <&msc SCRL_DOWN>
                     , <&macro_release &kp LCTRL>;
            label = "CTRL_SCROLL_DOWN";
        };

    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&to_layer_0>;
        };

        lt_to_layer_10: lt_to_layer_10 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_10";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&to_layer_10>;
        };

        scroll_up_down: mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <20>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
        };

        scroll_right_left: mouse_wheel_right_left {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <20>;
            bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;
        };

        tog_off: toggle_layer_off {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer Off";
            toggle-mode = "off";
        };

        mt_exit_AML_on_tap: mt_exit_AML_on_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_exit_AML_ON_TAP";
            bindings = <&kp>, <&kp_exit_AML>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            quick-tap-ms = <200>;
        };

        zoom_scroll: zoom_scroll {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <20>;
            bindings = <&ctrl_scroll_up>, <&ctrl_scroll_down>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q                             &kp W         &kp E         &kp R        &kp T                                                     &kp Y        &kp U  &kp I      &kp O    &kp P
&mt_exit_AML_on_tap LCTRL A       &kp S         &kp D         &kp F        &kp G                                  &kp SEMICOLON      &kp H        &kp J  &kp K      &kp L    &lt 7 MINUS
&mt_exit_AML_on_tap LEFT_SHIFT Z  &kp X         &kp C         &kp V        &kp B        &lt 5 TAB                 &kp DOUBLE_QUOTES  &kp N        &kp M  &kp COMMA  &kp DOT  &mt RIGHT_SHIFT SLASH
&kp LCTRL                         &kp LEFT_WIN  &kp LEFT_ALT  &kp BACKSPACE  &lt 2 SPACE  &mt LGUI LANG2          &lt_to_layer_0 3 LANG1  &lt 1 ENTER                             &lt 5 ESCAPE
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        layer_1 {
            bindings = <
&trans           &kp AMPERSAND  &kp ASTRK    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS                    &trans  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans         &trans
&kp GRAVE        &kp DOLLAR     &kp PERCENT  &kp CARET             &trans                           &trans  &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp BACKSLASH  &trans
&mt LSHFT TILDE  &kp EXCL       &kp AT       &kp HASH              &trans                 &trans    &trans  &trans  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE       &trans
&trans           &trans         &trans       &trans                &trans                 &trans    &trans  &trans                                                              &trans
            >;

            sensor-bindings = <&scroll_right_left>;
        };

        layer_2 {
            bindings = <
&trans  &kp N7  &kp N8  &kp N9  &kp PLUS                                 &trans  &kp F7  &kp F8  &kp F9  &kp F12
&trans  &kp N4  &kp N5  &kp N6  &kp MINUS                     &trans  &trans  &kp F4  &kp F5  &kp F6  &kp F11
&kp N0  &kp N1  &kp N2  &kp N3  &kp EQUAL  &kp KP_MULTIPLY    &trans  &trans  &kp F1  &kp F2  &kp F3  &kp F10
&trans  &trans  &trans  &trans  &trans     &trans             &trans     &trans                          &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        // Layer 3: Win Nav
        // 左側: カーソル移動 + 単語編集（L11 Mac Navと共通配置）
        //   行0: [単語←]  [↑]       [単語→]
        //   行1: [←]      [↓]       [→]
        //   行2: [選択単語←] [単語削除] [選択単語→]
        //   thumb-BS: Delete  (Zは透過→LShift: Z+W=選択単語←, Z+R=選択単語→も可)
        // 右側: AHK経由ウィンドウスナップ（L11 Magnetと同一キーコンボ）
        //   行0: [左2/3] [上左] [上半] [上右] [右2/3]
        //   行1: [SS]  [左3]  [左半] [最大] [右半] [右3]
        //   行2:       [復元] [下左] [下半] [下右] [中央]
        // encoder: Ctrl+Tab / Ctrl+Shift+Tab for tab switching
        layer_3 {
            bindings = <
&kp PAGE_UP  &kp LC(LEFT)      &kp UP_ARROW       &kp LC(RIGHT)     &kp PAGE_DOWN                                     &kp LC(LA(E))         &kp LC(LA(U))     &kp LC(LA(UP))     &kp LC(LA(I))      &kp LC(LA(T))
&kp HOME     &kp LEFT          &kp DOWN           &kp RIGHT_ARROW   &kp END                  &kp LC(LG(PRINTSCREEN))  &kp LC(LA(D))         &kp LC(LA(LEFT))  &kp LC(LA(ENTER))  &kp LC(LA(RIGHT))  &kp LC(LA(G))
&trans       &kp LC(LS(LEFT))  &kp LC(BACKSPACE)  &kp LC(LS(RIGHT)) &trans         &trans    &kp LS(PRINTSCREEN)      &kp LC(LA(BACKSPACE)) &kp LC(LA(J))     &kp LC(LA(DOWN))   &kp LC(LA(K))      &kp LC(LA(F))
&trans       &trans            &trans             &kp DEL           &trans         &trans    &kp DEL                  &trans                                                                         &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(TAB) LC(LS(TAB))>;
        };

        layer_4 {
            bindings = <
&win_mode      &mac_mode      &trans  &trans  &trans                         &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans         &trans         &trans  &trans  &trans            &trans        &trans        &trans        &trans        &trans        &trans
&trans         &trans         &trans  &trans  &trans  &trans    &bootloader   &trans        &trans        &trans        &trans        &bt BT_CLR
&trans         &trans         &trans  &trans  &trans  &trans    &trans        &trans                                                  &bt BT_CLR_ALL
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &mkp MB4  &trans    &mkp MB5  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                                &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        Gesture_L7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;

            sensor-bindings = <&zoom_scroll>;
        };

        Gesture_L8 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;
        };

        Gesture_L9 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;
        };

        // Layer 10: Mac default base
        // &trans は Layer 0 に透過。Mac固有の遷移先のみ上書き:
        //   - MINUS hold → Layer 12 (Mac Gesture L7)
        //   - LANG1 hold → Layer 11 (Mac Nav)
        //   コンボ [8+9]  → Layer 13 (Mac Gesture L8)  ※combo定義で制御
        //   コンボ [19+20] → Layer 14 (Mac Gesture L9) ※combo定義で制御
        mac_default_layer {
            // Win/Mac共通の筋肉記憶のため修飾キー位置を合わせる:
            //   親指左端: Win=LCTRL → Mac=LGUI(Cmd)
            //   親指2番目: Win=LEFT_WIN → Mac=LCTRL
            //   Aホールド: Win=LCTRL → Mac=LGUI(Cmd)
            bindings = <
&trans                             &trans  &trans  &trans  &trans                             &trans  &trans  &trans  &trans  &trans
&mt_exit_AML_on_tap LGUI A         &trans  &trans  &trans  &trans    &trans                   &trans  &trans  &trans  &trans  &lt 12 MINUS
&trans                             &trans  &trans  &trans  &trans    &trans                   &trans  &trans  &trans  &trans  &trans  &trans
&kp LGUI  &kp LCTRL  &trans  &trans  &trans  &trans                 &lt_to_layer_10 11 LANG1  &trans                          &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        // Layer 11: Mac Nav
        // 左側: カーソル移動 + 単語編集（L3 Win Navと完全対称）
        //   行0: [単語←]  [↑]       [単語→]      ← W=Opt+←, R=Opt+→
        //   行1: [←]      [↓]       [→]
        //   行2: [X=Opt単語←] [C=Opt単語削除] [V=Opt単語→]
        //   thumb-BS: Delete  (Zは透過→LShift: Z+W=選択単語←, Z+R=選択単語→も可)
        //   thumb-SPACE: RGUI (Cmd)
        // 右側: Magnetウィンドウスナップ専用（3×3空間マッピング）
        //   行0: [左2/3] [上左] [上半] [上右] [右2/3]
        //   行1: [SS]  [左3]  [左半] [最大] [右半] [右3]
        //   行2:       [復元] [下左] [下半] [下右] [中央]
        // encoder: Cmd+Shift+] / Cmd+Shift+[ for tab switching
        mac_nav_layer {
            bindings = <
&kp PAGE_UP  &kp LA(LEFT)  &kp UP_ARROW       &kp LA(RIGHT)    &kp PAGE_DOWN                                 &kp LC(LA(E))         &kp LC(LA(U))    &kp LC(LA(UP))     &kp LC(LA(I))    &kp LC(LA(T))
&kp HOME     &kp LEFT      &kp DOWN           &kp RIGHT_ARROW  &kp END                  &kp LG(LS(N4))       &kp LC(LA(D))         &kp LC(LA(LEFT))  &kp LC(LA(ENTER))  &kp LC(LA(RIGHT))  &kp LC(LA(G))
&trans       &kp LA(LEFT)  &kp LA(BACKSPACE)  &kp LA(RIGHT)    &trans         &trans    &kp LG(LS(N5))       &kp LC(LA(BACKSPACE)) &kp LC(LA(J))    &kp LC(LA(DOWN))   &kp LC(LA(K))    &kp LC(LA(F))
&trans       &trans        &trans             &kp DEL          &kp RGUI       &trans    &kp DEL              &trans                                                               &trans
            >;

            sensor-bindings = <&inc_dec_kp LG(LS(RBKT)) LG(LS(LBKT))>;
        };

        // Layer 12: Mac Gesture L7 (≒ L7のMac版)
        // − 長押しで起動（Mac モード時のみ）
        mac_gesture_l7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;

            sensor-bindings = <&inc_dec_kp LG(PLUS) LG(MINUS)>;
        };

        // Layer 13: Mac Gesture L8 (≒ L8のMac版)
        // コンボ [8+9] で起動（Mac モード時のみ）
        mac_gesture_l8 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;
        };

        // Layer 14: Mac Gesture L9 (≒ L9のMac版)
        // コンボ [19+20] で起動（Mac モード時のみ）
        mac_gesture_l9 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;
        };

        // Layer 15: App Switcher (Win/Mac 共通)
        // コンボ [8+9] で起動。Win=LALT保持、Mac=LGUI保持（マクロ側で制御）
        // トラックボール左=前のアプリ(Shift+Tab)、右=次のアプリ(Tab)
        // コンボキーを離すと修飾キーも解放され、選択中のアプリに遷移
        app_switch {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &kp ESCAPE
            >;
        };
    };
};
